<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jdapp">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/jdapp_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jdapp_round_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZavIWF_2kI12SRwa9KVvYYqGIm57ehX0" />

        <activity android:name=".AddHospitalActivity" />
        <activity android:name=".HospitalDetailsActivity" />
        <activity android:name=".DisplayHospitalsActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>